{% extends 'fyadmin/frame.html' %}

{% block content %}
    <div style="max-width: 350px;margin: auto">
        {% for object in object_list %}
            {% if object %}
                <div class="row">
                    <div class="col-md-6 text-right">
                        {{ object.0 }}
                    </div>
                    <div class="col-md-6 text-right">
                        {{ object.1 }}
                    </div>
                </div>
            {% else %}
                <br>
            {% endif %}
        {% endfor %}
    </div>


{% endblock %}