{% extends 'fyadmin/frame_edit.html' %}
{% block fields %}
    {% with field=form.password_old %}
        {% include 'fyadmin/inclute/form_field_password.html' %}
    {% endwith %}
    {% with field=form.password_new1 %}
        {% include 'fyadmin/inclute/form_field_password.html' %}
    {% endwith %}
    {% with field=form.password_new2 %}
        {% include 'fyadmin/inclute/form_field_password.html' %}
    {% endwith %}
{% endblock %}
{% block buttons %}
    <button type="submit" class="btn btn-primary">修改密码</button>
{% endblock %}

