{% extends 'fyadmin/base.html' %}
{% block title %}{{ view.title }}{% endblock %}
{% block  body %}
    <!-- Frame -->
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">泛亚管理</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                            <strong>欢迎， {% if user.first_name %}{{ user.first_name }}{% else %}
                                {{ user.get_username }}{% endif %}</strong> <span class="caret"></span></a>
                        <ul id="g-account-menu" class="dropdown-menu" role="menu">
                            <li>
                                <a href="{% url 'fyadmin:change_password' %}">
                                    <span class="glyphicon glyphicon-cog"></span>
                                    更改密码
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'fyadmin:change_fy' %}">
                                    <span class="glyphicon glyphicon-cog"></span>
                                    修改泛亚账号
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li><a href="{% url 'fyadmin:logout' %}"><span class="glyphicon glyphicon-log-out"></span>
                        注销</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- navbar -->

    <!-- navbar end -->
    <div class=" container-fluid">
        <div class="clearfix row">
            <!-- Left menu-->
            <div id="left-side" class="col-md-2">
                {% include 'fyadmin/inclute/sitemenu.html' %}
            </div>
            <!-- Left menu end-->
            <div class="col-md-9 col-lg-10 col-sm-9 col-xs-12">
                {% if messages %}
                    {% for message in messages %}
                        {% ifequal message.tags 'error' %}
                            <div class="alert alert-danger"
                                 role="alert">{{ message }}</div>
                        {% else %}
                            <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}"
                                 role="alert">{{ message }}</div>
                        {% endifequal %}
                    {% endfor %}

                {% endif %}
                {% block content-title %}
                    <div class="navbar content-navbar navbar-default navbar-xs" data-toggle="breakpoint"
                         data-class-xs="navbar content-navbar navbar-inverse navbar-xs"
                         data-class-sm="navbar content-navbar navbar-default navbar-xs">
                        <div class="navbar-header">

                            <span class="navbar-brand">
                                {% if view.parents %}
                                    {% for parent in view.parents %}
                                        <span class="parent-brand"><a
                                                href="{{ parent.url }}"><u>{{ parent.name }}</u></a> <span
                                                class="glyphicon glyphicon-chevron-right"></span></span>
                                    {% endfor %}
                                {% endif %}
                                {{ view.title }}
                            </span>

                        </div>
                    </div>
                {% endblock %}

                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
    <!-- Frame end-->
{% endblock %}
